{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/ico/favicon.png' %}">

    {% block title %}
    <title>Tiramisu Supermarket Catalog</title>
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- styles needed for carousel slider -->
    <link href="{% static 'assets/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet">

    <!-- bxSlider CSS file -->
    <link href="{% static 'assets/plugins/bxslider/jquery.bxslider.css' %}" rel="stylesheet"/>

    <!-- More Vendor CSS -->
    {% block vendor_css %}{% endblock %}

    <!-- Theme CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- Main CSS -->
    {% block main_css %}
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    {% endblock main_css %}

    <!-- Page Specific CSS -->
    {% block custom_css %}{% endblock %}

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="{% static 'assets/js/pace.min.js' %}"></script>

    {% block custom_head_js %}{% endblock custom_head_js %}
</head>
<body>

{% block debug %}{% endblock debug %}

{% block wrapper %}
<div id="wrapper">    
    {% block page_header %}
    <div class="header">
        <nav class="navbar  fixed-top navbar-site navbar-light bg-light navbar-expand-md"
             role="navigation">
            <div class="container">
              <div class="navbar-identity">
                <a href="{% url 'supermarket:index' %}" class="navbar-brand logo logo-title">
                <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo "></i>
                </span>BOOT<span>CLASSIFIED </span> </a>
              </div>
            </div>
            <!-- /.container -->
        </nav>
    </div>
    {% endblock page_header %}
    <!-- /.header -->

    {% block page_intro %}
    {% endblock page_intro %}
    <!-- /.intro -->

    {% block page_main %}
    <!-- /.main-container -->
    {% endblock page_main %}

    {% block page_banner %}
    <div class="page-info hasOverly" style="background: url({% static 'images/bg.jpg' %}); background-size:cover">
        <div class="bg-overly">
            <div class="container text-center section-promo">
                <div class="row">
                    <div class="col-sm-3 col-xs-6 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-group"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>2200</span></h5>

                                    <div class="iconbox-wrap-text">Trusted Seller</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-th-large-1"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>100</span></h5>

                                    <div class="iconbox-wrap-text">Categories</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                    <div class="col-sm-3 col-xs-6  col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-map"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>700</span></h5>

                                    <div class="iconbox-wrap-text">Location</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon icon-facebook"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>50,000</span></h5>

                                    <div class="iconbox-wrap-text"> Facebook Fans</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                </div>

            </div>
        </div>
    </div>
    {% endblock page_banner %}
    <!-- /.page-info -->

    {% block page_footer %}
    <footer class="main-footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class=" text-center paymanet-method-logo">

                            <img alt="img" src="{% static 'images/site/payment/master_card.png' %}" alt="img">
                            <img alt="img" src="{% static 'images/site/payment/visa_card.png' %}">
                            <img alt="img" src="{% static 'images/site/payment/paypal.png' %}">
                            <img alt="img" src="{% static 'images/site/payment/american_express_card.png' %}"> <img alt="img" src="{% static 'images/site/payment/discover_network_card.png' %}">
                            <img alt="img" src="{% static 'images/site/payment/google_wallet.png' %}">
                        </div>

                        <div class="copy-info text-center">
                            &copy; 2017 Tiramisu Supermarket Catalog. All Rights Reserved.
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </footer>
    {% endblock page_footer %}
    <!-- /.page_footer -->
</div>
{% endblock wrapper %}
<!-- /.wrapper -->


<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/vendors.min.js' %}"></script>

<!-- include jquery autocomplete plugin  -->
<script type="text/javascript" src="{% static 'assets/plugins/autocomplete/jquery.mockjax.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/autocomplete/jquery.autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/autocomplete/usastates.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/autocomplete/autocomplete-demo.js' %}"></script>

<!-- Vendor Javascript -->
{% block vendor_js %}{% endblock %}

<!-- include custom script for site  -->
{% block theme_js %}
<script src="{% static 'assets/js/script.js' %}"></script>
{% endblock theme_js %}

<!-- include custom script for site  -->
{% block main_js %}
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock main_js %}

<!-- Custom Javascript -->
{% block custom_js %}{% endblock %}
</body>
</html>
